@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  --background:#ecedef;
  --input_focus:#0c0612;
  --input_unfocus:#1b0e29;
  --text_focus:#212322;
  --text_unfocus:rgb(164, 162, 162);
  --nav:#ecedef;
  --accent:#8bb3bd;

}
/*Main CSS*/

body{
  background: var(--background);
}

section{
  position: relative;
}

.section{
  color: var(--background);
  background: var(--background);
  padding: 10px 100px;
  transition: 0.3s ease;
}

/*Home CSS*/

.home{
  min-height: 100vh;
  background-image: url(Images/Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.home:before{
  z-index: 888;
  content: '';
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  background: linear-gradient(transparent, var(--background));
}

.home_about{
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.home_about:before{
  z-index: 888;
  content: '';
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  background: linear-gradient(transparent, var(--background));
}

.home_Reccomend{
  min-height: 100vh;
  background-image: url(Images/Background_about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.home_Reccomend:before{
  z-index: 888;
  content: '';
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  background: linear-gradient(transparent, var(--background));
}

.PanelHead{
  color: var(--text_focus);
  top:25.5vh;
  left:3.5vw;
  display: flex;
  position: absolute;
  font-size: 100px;
  letter-spacing: 2px;
}

.CatchPhrase{
  color: var(--text_unfocus);
  top:50.5vh;
  left:5vw;
  display: flex;
  position: absolute;
  font-size: 30px;
  letter-spacing: 2px;
}

/*Header*/

header{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    transition: 0.6s ease;
}
  
header .brand{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}

header div {
	  display: flex;
	  flex-direction: row;
	  justify-content: flex-end;
	  align-items: center;
	  margin-top: auto;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 2px;
}

header div a{
    padding-right: 40px;
}

#navbar.scrolled {
    background-color: var(--nav);
    border-bottom: 2px solid rgb(0, 0, 0);
}

/*Footer*/

footer {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: var(--background);
  border-top: 1px solid #ccc;
}

footer a {
  color: #555;
  text-decoration: none; 
  margin: 0 10px; 
  font-size: 14px; 
}

/*Link CSS*/

a:link{
	text-decoration: none;
	color: var(--text_focus);
	transition: 1s;
	text-align: center;
}
a:visited{
	text-decoration: none;
	transition: 1s;
	color: var(--text_focus);
	text-align: center;
}

/*Box CSS*/

.Box {
	backdrop-filter: blur(5px);
	width: 50%;
	height: 40%;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	color: #f8f9f7;
  border: solid;
  border-top-color: white;
  border-bottom-color: white;
  border-left-color: transparent;
  border-right-color: transparent;
	display: flex;
	flex-direction: column;
	justify-content: center;
  text-align: center;
  align-items: center;
  }

/*Section CSS*/

.section .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
  margin: 3rem 0;
  color: var(--text_focus);
}

.section .row .image{
  flex: 1 1 45rem;
  display: flex;
}
.section .row .content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 45rem;
}

.section .row .image img{
  width: 100%;
  flex-basis: 50%;
  padding-right: 20px
}
.section .row .info {
  flex-basis: 50%;
  padding-left: 20px;
}


/*Heading CSS*/

.heading{
  text-align: center;
  font-size: 2rem;
  color: var(--text_focus);
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.heading h1{
  padding-bottom: 2rem;
}


.heading p{
  max-width: 60rem;
  margin: auto;
  color: var(--Grayish-Blue);
  font-size: 1.7rem;
}

/*Input CSS*/

.Input {
	background-color: var(--background);
	width: 375px;
	height: 30px;
	padding: 10px;
	transition: 1s;
	border: none;
	border-radius: 5px;
	color: var(--text_focus);
	outline: none;
	text-align: center;
  }

  .h2{
    color: var(--text_focus);
    text-transform: uppercase;
    letter-spacing: 2px;
  }

/*Book*/
.Row_Box {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  color: var(--text_focus);
  padding-top: 40px;
  padding-bottom: 40px;
}

.Book-Info{
  padding-left: 20px;
  letter-spacing: 2px;
  text-align: center;
}

#results-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

#results-list li {
  flex-basis: 33%;
  padding: 10px;
  box-sizing: border-box;
}

#results-list img{
  width:128px;
  height:200px;
}

/*Button CSS*/

button {
  width: 12em;
  position: relative;
  height: 3em;
  border: 3px solid transparent;
  outline: none;
  background-color: var(--background);
  color: var(--text_focus);
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:hover{
  border:3px solid var(--accent)
}

button:focus{
  border:3px solid var(--input_focus)
}

/*ToolTips*/

/*WIP NOTIFICATION*/
.WIP{
  text-align: center;
  text-transform: uppercase;
  color: var(--text_focus);
  letter-spacing: 2px;
  display: flex;
  position: absolute;
  top:50%;
  left:35%;
}